# GOOGLE AUTH
GOOGLE_ID=your-google-id-here
GOOGLE_CLIENT_SECRET=your-google-client-secret-here

# NEXT AUTH
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://localhost:3000
NEXTAUTH_SECRET=your-nextauth-secret-here

# MONGO DB
MONGODB_URI=your-mongodb-uri-here

# CLOUDFLARE configuration
CLOUDFLARE_ACCOUNT_ID=your-cloudflare-account-id

# Cloudflare R2 API Token
CLOUDFLARE_TOKEN_VALUE=your-cloudflare-token

# S3 Client Access Credentials
CLOUDFLARE_R2_ACCESS_KEY_ID=your-r2-access-key-id
CLOUDFLARE_R2_SECRET_ACCESS_KEY=your-r2-secret-access-key

# R2 Endpoint URL
CLOUDFLARE_R2_ENDPOINT=your-r2-endpoint-url
CLOUDFLARE_R2_BUCKET=your-r2-bucket-name
CLOUDFLARE_R2_PUBLIC_URL=your-r2-public-url

NEXT_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_URL=http://localhost:3000

# Stripe Configuration
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your-stripe-publishable-key
STRIPE_SECRET_KEY=your-stripe-secret-key
STRIPE_WEBHOOK_SECRET=your-stripe-webhook-secret
NEXT_PUBLIC_STRIPE_CLIENT_ID=your-stripe-client-id
